# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.mypy_cache
.ipynb_checkpoints

# Distribution / packaging
dist/
venv/
eggs/
.eggs/
*.egg-info/
*.egg

# VS Code
.vscode/

# JetBrains
.idea/

# Mac OS-specific storage files
.DS_Store

#service dirs and files
logs/*
model/*
.env.secret

!.gitkeep